.Card {
    max-width: 570px;
    margin: auto;
    width: 100%;
}

.card-form {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; 
    padding: 35px;
    padding-top: 180px;  
}

.select-control {
    -webkit-appearance: none;
    background-image: url('https://static.thenounproject.com/png/16957-200.png');
    background-size: 12px;
    background-position: 90% center;
    background-repeat: no-repeat;
}

.btn {
    width: 100%;
}

 .card-list {
    margin-bottom: -130px;
}

@media screen and (max-width: 480px) {
    .card-list {
        margin-bottom: -120px;
    }
} 